{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue dans le LSPD Panel{% endblock %}
{% block page_actions %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="/dist/semantic.min.js"></script>
{% endblock %}

{% block main %}

   <div >
    <img class="ui Massive image"
     src="/webimg/lspdHeader.webp"
     alt="lspdimge">
   </div>
{% endblock %}
